@use "sass:math";

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// === libs ===
@import "libs/index";

// === fonts ===
@import "icomoon";
@import "fonts";

// === Base ===
@import "base/index";

// === Components ===
@import "components/index";

// === Pages ===
@import "pages/index";

.home-template {
	// RESET STYLES START ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	.body_nav,
	.cart-btn > .count,
	.cart-btn > .sum,
	.header_city,
	.header_nav,
	.header_phone {
		@media screen and (max-width: 768px) {
			// display: block;
		}
	}
	// RESET STYLES END ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

	.body {
		margin-top: 10px;
		padding: 0;
		@include adaptiv-value("margin-bottom", 100, 40, 1);

		&_container {
			min-width: 0px;

			@media screen and (max-width: 991px) {
				display: block;
			}
		}

		&_content {
			min-width: 0px;
		}
	}

	&--horizontal {
		.body {

			&_container {
				display: block;
			}
		}
	}
}
