@use "sass:math";

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// === libs ===
@import "libs/index";

// === fonts ===
@import "icomoon";
@import "fonts";

// === Base ===
@import "base/index";

// === Components ===
@import "components/index";

// === Pages ===
@import "pages/index";

// === themes ===
@import "templates/template1";
@import "templates/template2";


