.category-page {
    .page-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .tab-selector {
        height: auto;
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 40, 24, 1);
        }

        .ts_wrapper {
            display: flex;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: normal;
            position: initial;
            padding-bottom: 2px;
            @include adaptiv-value("gap", 16, 10, 1);

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }

        .ts_item {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 12px 24px;
            @include adaptiv-value("padding-left", 24, 20, 1);
            @include adaptiv-value("padding-right", 24, 20, 1);
            font-weight: 500;
            @include adaptiv-font(16, 19, 14, 1);
            color: var(--fontColor);
            border-radius: 40px;
            border: 1px solid $LGray;
            margin: 0;
            text-align: center;
            transition: $transition ease all 0s;

            &.selected {
                color: $White;
                background-color: var(--accentColor);
                border-color: var(--accentColor);
            }
        }
        a.ts_item {
            @media (any-hover: hover) {
                &:hover {
                    color: var(--accentColor);
                    border-color: var(--accentColor);
                }
            }
        }
    }

    .products {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 100, 40, 1);
        }
    }
}
