.home-template {
    .order {
        &__wrapper {
            position: relative;
            @include adaptiv-value("margin-top", 24, 16, 1);
        }

        &__back {
            color: var(--accentColor);

            @media screen and (max-width: 1200px) {
                max-width: 953px;
                margin: 0 auto 24px;
            }

            a {
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                color: inherit;
                display: inline-flex;
                align-items: center;

                i {
                    font-size: 16px;

                    &:not(:last-child) {
                        margin-right: 8px;
                    }
                }

                span {
                    text-decoration: underline transparent from-font;
                    text-underline-offset: 3px;
                    transition: $transition ease text-decoration 0s;
                }

                @media (any-hover: hover) {
                    &:hover {
                        i {
                            animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
                        }

                        span {
                            text-decoration: underline var(--accentColor) from-font;
                        }
                    }
                }
            }
        }

        &__main {
            background: $White;
            box-shadow: 4px 8px 40px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            @include adaptiv-value("padding-top", 40, 24, 1);
            @include adaptiv-value("padding-bottom", 40, 24, 1);
            @include adaptiv-value("padding-left", 40, 16, 1);
            @include adaptiv-value("padding-right", 40, 16, 1);
        }

        &__heading {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:not(:last-child) {
                &:not(:last-child) {
                    @include adaptiv-value("padding-bottom", 40, 16, 1);
                    border-bottom: 1px solid $LGray;
                }
            }

            @media screen and (max-width: 991px) {
                align-items: flex-start;
            }
            @media screen and (max-width: 767px) {
                display: block;

                & > div {
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
            }

            @media screen and (max-width: 575px) {
                flex-wrap: wrap;
                margin: -8px 0;
            }
        }

        &__heading-left,
        &__heading-right {
            display: flex;
            align-items: center;

            @media screen and (max-width: 575px) {
                flex: 0 0 100%;
                padding: 8px 0;
            }
        }

        &__heading-left {
            flex: 1;

            & > div {
                &:not(:last-child) {
                    @include adaptiv-value("margin-right", 24, 16, 1);
                }
            }

            @media screen and (min-width: 768px) {
                &:not(:last-child) {
                    margin-right: 16px;
                }
            }
            @media screen and (max-width: 991px) {
                flex-wrap: wrap;
            }
            @media screen and (max-width: 767px) {
                justify-content: space-between;

                & > div {
                    &:not(:last-child) {
                        margin-right: 0;
                    }
                }
            }
            @media screen and (max-width: 575px) {
                padding: 0;
            }
        }

        &__number {
            font-weight: 600;
            @include adaptiv-font(20, 24, 16, 1);
        }

        &__status {
            font-weight: 600;
            @include adaptiv-font(14, 20, 12, 1);
            @include adaptiv-value("padding-top", 6, 4, 1);
            @include adaptiv-value("padding-bottom", 6, 4, 1);
            @include adaptiv-value("padding-left", 16, 8, 1);
            @include adaptiv-value("padding-right", 16, 8, 1);
            border-radius: 8px;

            &--accept {
                background: rgba(20, 139, 73, 0.1);
                color: $Green;
            }
        }

        &__delivery {
            @include adaptiv-font(14, 20, 12, 1);

            @media screen and (max-width: 991px) {
                flex: 0 0 100%;

                &:not(:first-child) {
                    margin-top: 20px;
                }
            }
            @media screen and (max-width: 767px) {
                &:not(:first-child) {
                    margin-top: 0;
                }
            }
        }

        &__heading-right {
            & > div {
                display: flex;
                align-items: center;
                @include adaptiv-font(14, 17, 12, 1);
                color: $DGBlue;

                i {
                    @include adaptiv-font(20, 20, 16, 1);

                    &:not(:last-child) {
                        margin-right: 8px;
                    }
                }

                &:not(:last-child) {
                    @media screen and (min-width: 992px) {
                        @include adaptiv-value("margin-right", 24, 16, 1);
                    }
                }
            }

            @media screen and (max-width: 991px) {
                flex-wrap: wrap;
                justify-content: flex-end;

                .order__date {
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }

                .order__btn {
                    flex: 0 0 100%;
                    justify-content: flex-end;
                    margin-top: 20px;
                }
            }
            @media screen and (max-width: 767px) {
                justify-content: flex-start;
                align-items: center;

                .order__btn {
                    flex: 1;
                    margin-top: 0;
                }

                & > div {
                    &:not(:last-child) {
                        margin: 0px 20px 0 0px;
                    }
                }
            }
            @media screen and (max-width: 575px) {
                padding: 0;
            }
        }

        &__btn {
            .btn {
                @include adaptiv-font(16, 22, 14, 1);
                height: auto;
                padding: 18px 58px;

                @media screen and (max-width: 450px) {
                    width: 100%;
                }
            }
        }

        &__body {
            &:not(:last-child) {
                @include adaptiv-value("margin-bottom", 40, 32, 1);
            }
        }

        &__personal {
            @include adaptiv-value("padding-top", 40, 24, 1);
            @include adaptiv-value("padding-bottom", 40, 24, 1);

            &:not(:last-child) {
                margin-bottom: 16px;
            }

            @media screen and (min-width: 768px) {
                max-width: 632px;
            }

            .form__row {
                &:not(:last-child) {
                    @include adaptiv-value("margin-bottom", 32, 16, 1);
                }
            }
        }

        &__personal-label {
            @include adaptiv-font(14, 20, 12, 1);
            color: $DGBlue;

            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }

        &__personal-value {
            font-weight: 500;
            @include adaptiv-font(16, 22, 14, 1);
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }

        &__item-wrapper {
            display: flex;
            align-items: center;
            @include adaptiv-value("padding", 16, 8, 1);
            @include adaptiv-value("padding-right", 32, 8, 1);
            border-radius: 10px;
            border: 1px solid $GBlue;
            transition: $transition ease border-color 0s;

            @media (any-hover: hover) {
                &:hover {
                    border-color: var(--accentColor);
                }
            }

            & > div {
                &:not(:last-child) {
                    @include adaptiv-value("margin-right", 24, 8, 1);
                }
            }
        }

        &__item-image {
            flex: 0 0 110px;
            @include adaptiv-value("flex-basis", 110, 70, 1);
            @include adaptiv-value("height", 77, 49, 1);
            position: relative;
            border-radius: 4px;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__item-content {
            flex: 1;
            display: flex;
            align-items: center;

            & > div {
                &:not(:last-child) {
                    @include adaptiv-value("margin-right", 24, 8, 1);
                }
            }

            @media screen and (max-width: 450px) {
                flex-wrap: wrap;

                & > div {
                    &:not(:last-child) {
                        margin-right: 24px;
                    }
                }
            }
        }

        &__item-body {
            flex: 1;

            @media screen and (max-width: 450px) {
                flex: 0 0 100%;

                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }

        &__item-name {
            font-weight: 600;
            @include adaptiv-font(16, 20, 12, 1);
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            @media screen and (max-width: 450px) {
                &:not(:last-child) {
                    margin: 0;
                }
            }
        }

        &__item-descr {
            font-weight: 500;
            @include adaptiv-font(14, 17, 12, 1);
            color: $DGBlue;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            @media screen and (max-width: 450px) {
                display: none;
            }
        }

        &__item-count,
        &__item-price {
            text-align: right;
            white-space: nowrap;

            @media screen and (max-width: 450px) {
                color: $DGBlue;
                font-size: 12px;
                line-height: 14px;
            }
        }

        &__item-count {
            flex: 0 0 5%;
            font-weight: 500;
            @include adaptiv-font(14, 17, 12, 1);
        }

        &__item-price {
            flex: 0 0 15%;
            font-weight: 700;
            @include adaptiv-font(16, 20, 12, 1);

            @media screen and (max-width: 450px) {
                font-weight: 500;
            }
        }
    }

    &.template1 {
        .order {
            &__back {
                @media screen and (min-width: 1200px) {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            &__main {
                max-width: 953px;
                margin: 0 auto;
            }

            &__delivery {
                color: $DGBlue;
            }

            &__btn {
                .btn {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
    }

    &.template2 {
        .order {
            &__back {
                a {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: $White;
                    display: inline-flex;

                    @media (any-hover: hover) {
                        &:hover {
                            span {
                                text-decoration: underline $White from-font;
                            }
                        }
                    }
                }

                &:not(:last-child) {
                    @include adaptiv-value("margin-bottom", 40, 24, 1);
                }
            }

            &__main {
                background: $DBlue;
            }

            &__number {
                font-size: 16px;
                line-height: 19px;
            }

            &__heading {
                &:not(:last-child) {
                    border-bottom: 0;
                }

                @media screen and (max-width: 575px) {
                    margin: 0;
                }
            }

            &__heading-left {
            }

            &__heading-right {
                & > div {
                    color: $White;
                }

                @media screen and (max-width: 575px) {
                    .order__btn {
                        flex: 0 0 100%;
                        justify-content: flex-start;

                        .btn {
                            width: 100%;
                        }
                    }

                    & > div {
                        &:not(:last-child) {
                            margin: 0px 20px 20px 0px;
                        }
                    }
                }
            }

            &__status--accept {
                color: #33ec85;
                background: rgba(51, 236, 133, 0.1);
                border-radius: 10px;
            }

            &__btn {
                .btn {
                    font-weight: 500;
                    padding: 16px 50px;
                    font-size: 12px;
                    line-height: 17px;
                }
            }

            &__body {
                @media screen and (min-width: 992px) {
                    display: flex;
                    align-items: flex-start;
                }
            }

            &__list {
                flex: 1;

                @media screen and (min-width: 992px) {
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }
                @media screen and (max-width: 991px) {
                    &:not(:last-child) {
                        margin-bottom: 32px;
                    }
                }
            }

            &__item {
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }

            &__item-wrapper {
                border-color: transparent;
                background-color: $DGBlue4;
                padding: 4px 32px 4px 4px;

                @media (any-hover: hover) {
                    &:hover {
                        border-color: var(--accentColor);
                    }
                }

                & > div {
                    &:not(:last-child) {
                        @include adaptiv-value("margin-right", 32, 16, 1);
                    }
                }
            }

            &__item-image {
                flex: 0 0 134px;
                @include adaptiv-value("flex-basis", 134, 70, 1);
                @include adaptiv-value("height", 92, 49, 1);
            }

            &__personal {
                width: 100%;
                max-width: 100%;
                background: $DGBlue4;
                @include adaptiv-value("padding", 32, 16, 1);
                border-radius: 10px;

                @media screen and (min-width: 992px) {
                    max-width: 366px;
                    flex: 0 0 366px;
                }
            }

            &__personal-label {
                color: rgba($color: $White, $alpha: 0.5);
            }
        }
    }
}
