.home-template {
    .categories {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 100, 40, 1);
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            @include adaptiv-value("margin", -14, -5, 1);
        }

        &__item {
            @include adaptiv-value("padding", 14, 5, 1);
            flex: 1 0 25%;

            @media screen and (min-width: 576px) and (max-width: 991px) {
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        flex: 1 0 33.333%;
                    }
                }

                flex: 1 0 50%;
            }
            @media screen and (max-width: 575px) {
                flex: 1 0 50%;
            }
        }

        &__item-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 24px;
            @include adaptiv-value("padding", 25, 18.5, 1);
            filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
            width: 100%;
            height: 100%;
            text-align: center;

            @media screen and (max-width: 767px) {
                border-radius: 10px;
            }

            @media (any-hover: hover) {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: rgba($color: $Black, $alpha: 0.1);
                    opacity: 0;
                    border-radius: 24px;
                    pointer-events: none;
                    backdrop-filter: blur(6px) opacity(1);
                    transition: $transition ease opacity 0s;
                }

                &:hover {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }

        &__item-label {
            font-weight: 600;
            @include adaptiv-font(16, 22, 12, 1);
            color: $DGBlue2;
            @include adaptiv-value("padding-top", 10, 8, 1);
            @include adaptiv-value("padding-bottom", 10, 8, 1);
            @include adaptiv-value("padding-left", 24, 16, 1);
            @include adaptiv-value("padding-right", 24, 16, 1);
            background: rgba($color: $White, $alpha: 0.9);
            border-radius: 30px;
            position: relative;
        }
    }

    &.template2 {
        .categories {
            &__list {
                @include adaptiv-value("margin", -10, -5, 1);
            }

            &__item {
                @include adaptiv-value("padding", 10, 5, 1);
                flex: 1 0 33.333%;

                @media screen and (min-width: 1200px) {
                    @for $i from 1 through 6 {
                        &:nth-child(#{$i}) {
                            flex: 1 0 16.666%;

                            .categories__item-wrapper {
                                padding-top: 124px;
                            }
                        }
                    }
                }
                @media screen and (max-width: 1200px) {
                    .categories__item-wrapper {
                        @include adaptiv-value("padding-top", 124, 100, 1);
                    }
                }
                @media screen and (max-width: 575px) {
                    flex: 1 0 50%;
                }
            }

            &__item-wrapper {
                border-radius: 10px;
                padding: 62px 4px 4px;

                &::before {
                    border-radius: 10px;
                }
            }

            &__item-label {
                color: $White;
                width: 100%;
                padding: 16px;
                background: rgba(32, 32, 32, 0.9);
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: left;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &::after {
                    content: "\e904";
                    font-family: "icomoon" !important;
                    speak: never;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    display: block;
                    transform: rotate(180deg);
                    color: var(--accentColor);
                }
            }
        }
    }
}
