.count-selector {
    background-color: #f0f4f6;
    border-radius: 14px;
    height: 30px;
    align-items: center;
    padding: 4px;

    .minus,
    .plus {
        width: 22px;
        height: 22px;
        border-radius: 8px;
        background: $accentColor;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #f8f8f8;
        transition: $transition ease opacity 0s;

        i.icon-minus {
            font-size: 13px;
        }

        i.icon-plus {
            font-size: 9px;
        }

        &.disabled {
            opacity: 0.6;
        }

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.8;
            }
        }

        &.disabled {
            opacity: 0.6;
        }
    }

    .count {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $DGBlue2;
    }
}
