.home-template {
    .text-container {
        background-color: transparent;
        padding: 0;

        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 100, 40, 1);
        }

        .text {
            padding: 0;
            max-width: 928px;
            margin: 0;
            color: #76818a;

            & > h1 {
                font-family: var(--fontMain);
                font-weight: 700;
                @include adaptiv-font(32, 38, 20, 1);
                color: var(--fontColor);

                &:not(:last-child) {
                    @include adaptiv-value("margin-bottom", 48, 24, 1);
                }
            }

            &::after {
                pointer-events: none;
                background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
            }
        }

        p {
            margin: 16px 0;
        }

        :first-child {
            margin-top: 0;
        }
        :last-child {
            margin-bottom: 0;
        }

        .btn {
            margin-top: 24px !important;
            display: inline-flex !important;
            align-self: center;
            transition: $transition ease all 0s;

            & > * {
                &:not(:last-child) {
                    margin-right: 8px;
                }
            }

            i.icon-chevron-left {
                transform: rotate(90deg);
                transition: $transition ease transform 0s;
            }

            span {
                &:nth-child(1) {
                    display: none;
                }
            }
        }

        &.hidden {
            .btn {
                span:nth-child(1) {
                    display: block;
                }
                span:nth-child(2) {
                    display: none;
                }

                i.icon-chevron-left {
                    transform: rotate(-90deg);
                }
            }
        }
    }

    &.template2 {
        .text-container {
            background: #222229;
            border-radius: 10px;

            @include adaptiv-value("padding", 56, 16, 1);

            .text {
                padding: 0;
                max-width: 928px;
                margin: 0;
                color: rgba($color: $White, $alpha: 0.8);

                & > h1 {
                    &:not(:last-child) {
                        @include adaptiv-value("margin-bottom", 40, 24, 1);
                    }
                }

                &::after {
                    background: linear-gradient(0, #222229 0%, rgba(34, 34, 41, 0) 100%);
                }
            }

            .btn {
                color: var(--accentColor);
                font-size: 12px;
            }
        }
    }
}
